.container {
  background: linear-gradient(
    135deg,
    rgba(135, 206, 250, 0.3) 0%,
    rgba(221, 160, 221, 0.3) 50%,
    rgba(144, 238, 144, 0.3) 100%
  );
  animation: gradient 15s ease infinite;
  padding: 3rem;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1240px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 968px) {
  .container {
    padding: 1rem;
  }
  
  .forms {
    flex-direction: column;
    align-items: center;
  }
  
  .forms > * {
    width: 100%;
  }
}