.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputLabel {
  display: flex;
  flex-direction: row;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}


.inputGroup label {
  font-weight: 500;
  color: #333;
}

.inputGroup input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f5f5f5;
}

.terms {
  font-weight: 100;
  text-align: left;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
}

.submitButton {
  background-color: #e11b1b;
  color: white;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  outline: 0;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: grey;
}

.title {
    font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #2c2c2c;
  font-family: futura;
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem;
  }
}