.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.logo a {
  text-decoration: none;
  color: #4169E1;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 0;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4169E1;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* подчеркивание активной кнопки */
nav a.active::after {
  width: 100%;
}


/* аутентификация */
.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.auth-buttons a {
  text-decoration: none;
}