.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: 500;
  color: #333;
}

.required {
  color: #666;
  font-weight: normal;
  margin-left: 0.5rem;
}

.inputContainer {
  position: relative;
}

.inputContainer input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.withIcon {
  padding-right: 2.5rem;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

.inputContainer input:focus {
  outline: none;
  border-color: #4169E1;
  background-color: white;
}

.dateInput {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
  height: 46.09px; /* Adjust the height as needed */
  font-family: Helvetica, sans-serif; /* Use the same font family as other inputs */
}

.dateInput:focus {
  outline: none;
  border-color: #4169E1;
  background-color: white;
}