.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(135, 206, 250, 0.3) 0%,
    rgba(221, 160, 221, 0.3) 50%,
    rgba(144, 238, 144, 0.3) 100%
  );
  padding-top: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Futura;
  color: #2c2c2c;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: Futura;
  margin-top: 1rem;
  color: #2c2c2c;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;  /* Padding для мобильной версии */
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* Стили для планшетов */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;  /* Увеличенный padding для планшетов и выше */
  }
}

/* Стили для десктопов */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}